<div class="sb-back-bar"><div class="ui container"><h4 style="font-size: 14px;"><i class="icon arrow left"></i> Back to Library</h4></div></div>

<div class="ui container sbcolumn-container-grid mt-24">
  <div class="sbplayer-area grid-item">
    
      <div class="aspectratio" data-ratio="16:9">
          <div>
            <p>16:9</p>
          </div>
      </div>

  </div>

  <div class="sbtoc-area grid-item">
    <sb-player-toc></sb-player-toc>
  </div>

  <div class="sbplayer-info-area grid-item">Player Description</div>
  <div class="sbplayer-meta-area grid-item">Player Meta Data</div>
</div>