<!-- <sb-course-content-list [tocData]="tocContent1"></sb-course-content-list> -->

<div *ngFor="let item of tocContent1?.children; let index = index;">
  <h5 *ngIf="item?.mimeType === 'application/vnd.ekstep.content-collection'">
    <span class="title"><strong>{{item?.name}}</strong></span>
  </h5>
  <div>
    <div *ngIf="item;else noContent">
      <div *ngIf="item?.mimeType !== 'application/vnd.ekstep.content-collection' && !item?.children?.length">
        <div class="child-content-padding">
          <sb-toc-card [content]="item" (tocCardClick)="onTocCardClick($event)" [type]="cardType">
          </sb-toc-card>
        </div>
      </div>
      <div *ngIf="item?.children?.length">
        <div *ngFor="let child of item?.children">
          <div class="sbchapter">
            <sb-toc-child-item [childData]="child" (tocCardClick)="onTocCardClick($event)" [type]="cardType">
            </sb-toc-child-item>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noContent>
      <div class="heading">{{noContentMessage}}</div>
    </ng-template>
  </div>
</div>

<!-- <sb-member-list [memberList]="membersList"></sb-member-list> -->

<!-- <sb-toc-curriculum></sb-toc-curriculum> -->