<div class="sb-back-bar">
  <div class="ui container">
    <h4 style="font-size: 14px;"><i class="icon arrow left"></i> Back to Library</h4>
  </div>
</div>

<div class="ui container sbcolumn-container-grid mt-24" style="background-color: #E5EDF5; padding: 0 24px">
  <div class="sbplayer-area grid-item">

    <div class="aspectratio" data-ratio="16:9">
      <div>
        <p>16:9</p>
        <p>{{activeContent?.name}}</p>
      </div>
    </div>

  </div>

  <div class="sbtoc-area grid-item">
    <div class="sbtoc-filter sbtoc-filter--bg-gray sbsmartscroll-style">
      <sb-library-filters [list]="mimeTypeFilters" [layout]="'round-with-icon'"
        (selectedMimeType)="selectedFilter($event)">
      </sb-library-filters>
    </div>
    <sb-toc-curriculum [tocData]="tocData" (cardClick)="onCurriculumCardClick($event)"></sb-toc-curriculum>
    <div>

      <div *ngFor="let item of tocData?.children; let index = index;">
        <h5 *ngIf="item?.mimeType === 'application/vnd.ekstep.content-collection'">
          <span class="title"><strong>{{item?.name}}</strong></span>
        </h5>
        <div>
          <div *ngIf="item;else noContent">
            <div *ngIf="item?.mimeType !== 'application/vnd.ekstep.content-collection' && !item?.children?.length">
              <div class="child-content-padding">
                <sb-toc-card [content]="item" (tocCardClick)="onTocCardClick($event)" [type]="cardType">
                </sb-toc-card>
              </div>
            </div>
            <div *ngIf="item?.children?.length">
              <div *ngFor="let child of item?.children">
                <div class="sbchapter">
                  <sb-toc-child-item [childData]="child" (tocCardClick)="onTocCardClick($event)" [type]="cardType">
                  </sb-toc-child-item>
                </div>
              </div>
            </div>
          </div>
          <ng-template #noContent>
            <div class="heading">{{noContentMessage}}</div>
          </ng-template>
        </div>
      </div>
    </div>

  </div>


  <div class="sbplayer-info-area grid-item">Player Description</div>
  <div class="sbplayer-meta-area grid-item">Player Meta Data</div>
</div>