// @import '../../../../node_modules/sb-styles/assets/mixins/custom-mixins';
:host {
  .header {
    background-color: #024f9d;
    height: 50px;
    width: 100%;
    color: #ffffff;
    padding: 8px;
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box;
  }
  .container {
    display: flex;
    height: 100vh;
  }

  .item {
    padding: 16px;
    overflow: scroll;
    box-sizing: border-box;
  }
  .desktop {
    background-color: var(--primary-100);
    flex: 0 0 70%;
  }
  .mobile {
    background-color: white;
    flex: 0 0 30%;
  }
 .sbcard__meta2[_ngcontent-c5]{
    flex: 1 !important;
  }
}

.sbcard__meta2[_ngcontent-c5]{
  flex: 1 !important;
}

.child-content{
  background: rgba(0,255,0,0.5);
}

