<div>
    <div class="main-header">
        Library Cards
    </div>

    <div class="container">
        <div class="item desktop ">
            <div>
                <sb-library-filters [list]="mediums" [layout]="mediumLayout" [selectedItems]="[7]"
                    (selectedFilter)="selectedFilter($event)"></sb-library-filters>
                <sb-library-filters [list]="classes" [layout]="classLayout" (selectedFilter)="selectedFilter($event)">
                </sb-library-filters>
                <sb-library-filters [list]="mimeTypeFilters" [layout]="'round-with-icon'" (selectedMimeType)="selectedFilter($event)">
                </sb-library-filters>
            </div>
            <div>
                <div style="margin-bottom: 16px">
                    <sb-library-cards-grid [title]="subjects[0]" [contentList]="contentList1"
                        [viewMoreButtonText]="viewAllButtonText" (viewMoreClick)="showAllList($event)"
                        (cardClick)="cardClick($event)">
                    </sb-library-cards-grid>
                </div>

                <div style="margin-bottom: 16px">
                    <sb-library-cards-grid [title]="subjects[1]" [contentList]="contentList"
                        [viewMoreButtonText]="viewAllButtonText" (viewMoreClick)="showAllList($event)"
                        (cardClick)="cardClick($event)">
                    </sb-library-cards-grid>
                </div>


                <div style="margin-bottom: 16px">
                    <sb-library-cards-grid [title]="subjects[2]" [contentList]="contentList"
                        [viewMoreButtonText]="viewAllButtonText" (viewMoreClick)="showAllList($event)"
                        (cardClick)="cardClick($event)" [maxCardCount]="3">
                    </sb-library-cards-grid>
                </div>


                <div style="margin-bottom: 16px">
                    <sb-library-cards-grid [title]="subjects[3]" [contentList]="contentList"
                        [viewMoreButtonText]="viewAllButtonText" [maxCardCount]="4"
                        (viewMoreClick)="showAllList($event)" (cardClick)="cardClick($event)">
                    </sb-library-cards-grid>
                </div>


                <div style="margin-bottom: 16px">
                    <sb-library-cards-grid [title]="subjects[4]" [contentList]="contentList"
                        [viewMoreButtonText]="viewAllButtonText" [maxCardCount]="5"
                        (viewMoreClick)="showAllList($event)" (cardClick)="cardClick($event)">
                    </sb-library-cards-grid>
                </div>

                <div style="margin-bottom: 16px">
                    <div class="sub-header">Infinite grid</div>
                    <div style="margin-bottom: 16px">
                        <sb-library-cards-grid [title]="subjects[4]" [contentList]="contentList"
                            [type]="'infinite_card_grid'" [viewMoreButtonText]="viewAllButtonText" [maxCardCount]="3"
                            (viewMoreClick)="showAllList($event)" (cardClick)="cardClick($event)">
                        </sb-library-cards-grid>
                    </div>
                </div>

                <div style="margin-bottom: 16px">
                    <div class="sub-header">Infinite grid with hover on cards</div>
                    <div style="margin-bottom: 16px">
                        <sb-library-cards-grid [title]="subjects[4]" [contentList]="contentList"
                            [type]="'infinite_card_grid_with_hover'" [viewMoreButtonText]="viewAllButtonText"
                            [maxCardCount]="3" (viewMoreClick)="showAllList($event)" (cardClick)="cardClick($event)"
                            (hoverActionClick)="test($event);">
                        </sb-library-cards-grid>
                    </div>
                </div>

            </div>
        </div>
        <div class="item mobile">
            <h2>
                Mobile Library Cards
            </h2>
            <div>
                <sb-library-filters [list]="mediums" [layout]="mediumLayout" (selectedFilter)="selectedFilter($event)">
                </sb-library-filters>
                <sb-library-filters [list]="classes" [layout]="classLayout" (selectedFilter)="selectedFilter($event)">
                </sb-library-filters>
            </div>
            <div>
                <div style="margin-bottom: 16px">
                    <sb-library-cards-stack [title]="subjects[0]" [contentList]="contentList"
                        [viewMoreButtonText]="viewMoreButtonText" [maxCardCount]="3"
                        (viewMoreClick)="showAllList($event)">
                    </sb-library-cards-stack>
                </div>

                <div style="margin-bottom: 16px">
                    <sb-library-cards-stack [title]="subjects[1]" [contentList]="contentList"
                        [viewMoreButtonText]="viewMoreButtonText" [maxCardCount]="3"
                        (viewMoreClick)="showAllList($event)">
                    </sb-library-cards-stack>
                </div>

                <div style="margin-bottom: 16px">
                    <sb-library-cards-stack [title]="subjects[2]" [contentList]="contentList"
                        [viewMoreButtonText]="viewMoreButtonText" (viewMoreClick)="showAllList($event)">
                    </sb-library-cards-stack>
                </div>
            </div>
        </div>
    </div>
</div>