@import '../../../../node_modules/sb-styles/assets/mixins/custom-mixins';
:host {

  .header {
    background-color: #024f9d;
    height: 30px;
    width: 100%;
    color: #FFFFFF;
    @include padding(8px);
    font-size: 24px;
    font-weight: bold;
  }
  .container {
    display: flex;
    height: 100vh;
  }

  .item {
    padding: 16px;
    overflow: scroll;
    box-sizing: border-box;
  }
  .desktop {
    background-color: var(--primary-100);
    flex: 0 0 70%;
  }
  .mobile {
    background-color: white;
    flex: 0 0 30%;
  }
}