<!-- <div class="layout-library">
  <div class="header">
    <div class="title">
      Biology
    </div>
    <button class="sb-btn">
      View all
    </button>
  </div>
  <div class="cards-container"  >
    <div class="item" *ngFor="let item of contentList">
        <sb-library-card   [content]="item" [isMobile]="false"></sb-library-card>
    </div>
  </div>
</div> -->
<sb-library-cards-grid [title]="title" [contentList]="contentList1" [viewMoreButtonText]="viewMoreButtonText" (buttonClick)="showAllList($event)" (cardClick)="cardClick($event)"></sb-library-cards-grid>
<sb-library-cards-grid [title]="title" [contentList]="contentList" [viewMoreButtonText]="viewMoreButtonText" (buttonClick)="showAllList($event)" (cardClick)="cardClick($event)"></sb-library-cards-grid>
<sb-library-cards-grid [title]="title" [contentList]="contentList" [viewMoreButtonText]="viewMoreButtonText" (buttonClick)="showAllList($event)" (cardClick)="cardClick($event)" [cardDisplayCount]="3"></sb-library-cards-grid>
<sb-library-cards-grid [title]="title" [contentList]="contentList" [viewMoreButtonText]="viewMoreButtonText" [cardDisplayCount]="4" (buttonClick)="showAllList($event)" (cardClick)="cardClick($event)"></sb-library-cards-grid>
<sb-library-cards-grid [title]="title" [contentList]="contentList" [viewMoreButtonText]="viewMoreButtonText" [cardDisplayCount]="5" (buttonClick)="showAllList($event)" (cardClick)="cardClick($event)"></sb-library-cards-grid>
