:host {
  .header {
    background-color: #024f9d;
    height: 50px;
    width: 100%;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box;
  }

  .container {
    padding: 8px 16px;
    box-sizing: border-box;
  }
}
