<div>
    <div class="header">
        Library Cards
    </div>
    <div class="container">
        <div style="margin-bottom: 16px">
            <sb-library-cards-stack [title]="subjects[0]" [contentList]="contentList"
                [viewMoreButtonText]="viewMoreButtonText" [maxCardCount]="3" (buttonClick)="showAllList($event)">
            </sb-library-cards-stack>
        </div>

        <div style="margin-bottom: 16px">
            <sb-library-cards-stack [title]="subjects[1]" [contentList]="contentList"
                [viewMoreButtonText]="viewMoreButtonText" [maxCardCount]="3" (buttonClick)="showAllList($event)">
            </sb-library-cards-stack>
        </div>

        <div style="margin-bottom: 16px">
            <sb-library-cards-stack [title]="subjects[2]" [contentList]="contentList"
                [viewMoreButtonText]="viewMoreButtonText" 
                (buttonClick)="showAllList($event)">
            </sb-library-cards-stack>
        </div>
    </div>
</div>