.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 900px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-item {
  flex: 1 1 auto;
}