<div class="page-wrapper">
    <section class="top-section">
        <div class="header">
        </div>
        <div class="nav-bar">
            <a class="nav-item" [routerLink]="['/my-library']" routerLinkActive="active-link"><span>My Library</span></a>
            <a class="nav-item" [routerLink]="['/browse']" routerLinkActive="active-link"><span>Browse</span></a>
            <a class="nav-item" [routerLink]="['/help']" routerLinkActive="active-link"><span>Help</span></a>
        </div>
    </section>
    <section class="scrollable-container">
        <div class="filter">
            <div class="medium-filter">

            </div>
            <div class="class-filter">

            </div>
        </div>
        <div class="container">
        </div>
    </section>
</div>