@font-face {
  font-family: "NotoSans";
  src: url("./assets/fonts/NotoSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
.NotoSans {
  font-family: "NotoSans" !important;
  font-weight: normal;
  font-style: normal;
}

.NotoSans-semi-bold {
  font-family: "NotoSans" !important;
  font-weight: 600 !important;
}

.NotoSans-bold {
  font-family: "NotoSans" !important;
  font-weight: 700 !important;
}
.NotoSans-extra-bold {
  font-family: "NotoSans" !important;
  font-weight: 900 !important;
}

body {
  font-family: "NotoSans" !important;
  font-weight: normal;
  font-style: normal;
}
