@font-face {
  font-family: "NotoSans";
  src: url("./assets/fonts/NotoSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
.NotoSans {
  font-family: "NotoSans" !important;
  font-weight: normal;
  font-style: normal;
}

.NotoSans-semi-bold {
  font-family: "NotoSans" !important;
  font-weight: 600 !important;
}

.NotoSans-bold {
  font-family: "NotoSans" !important;
  font-weight: 700 !important;
}
.NotoSans-extra-bold {
  font-family: "NotoSans" !important;
  font-weight: 900 !important;
}

body {
  font-family: "NotoSans" !important;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

.main-header {
  background-color: #024f9d;
  height: 50px;
  width: 100%;
  color: #ffffff;
  padding: 8px;
  font-size: 24px;
  font-weight: bold;
  box-sizing: border-box;
}

.sub-header{
  background: rgba(247, 247, 247, 1.58);
  padding: 8px 16px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  font-size: 22px;
  color: #024f9d;
  margin: 24px 0;
  font-weight: 500;
}
